.ZapContato{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 200;
    background-color: #10c22d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;

    &__balao{
        position: absolute;
        width: 150px;
        background-color: aliceblue;

    }
}