@use 'var';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

.tela-fundo{
height: auto;
width: 100%;
position: fixed;


img{
    display: none;

    @media (max-width:1200px) {
        
       }
}
}

body{
    background-color: rgb(15, 15, 15);
}

.text--gradient{
    background: var.$gradiente;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text{
    color: var.$corTexto;
    font-weight: 400;
    font-size: 16px;
}


.title--small{
    color: var.$corTexto;
    font-size: 20px;
    font-weight: bolder;
}

.title{
    color: var.$corTexto;
    font-size: 28px;
    font-weight: 500;
}

.desktop{
    display: flex;

    
    @media (max-width:1200px) {
        display: none;
       }
}


.title--big{
    color: var.$corTexto;
    font-size: 36px;
    font-weight: 500;

    
    @media (max-width:1200px) {
        font-size: 26px;
    }
}

.bold{
    font-weight: 700;
}

.button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;

    &--dark{
        border: solid 2px var.$corTexto;
        color: var.$corTexto;
        background-color: transparent;
    }

    &--white{
        background-color: var.$corTexto;
    }

    &--gradiente{
        background-image: var.$gradiente;
        color: var.$corTexto;

    }

}

